<div class="container text-center mt-5">
    <h1 class="mb-4">به داشبورد ادمین خوش آمدید!</h1>
    <div class="d-flex justify-content-center">
        <a asp-controller="Admin" asp-action="ListInspect" class="btn btn-primary btn-lg mx-2">بررسی لیست فرم‌های در انتظار</a>
        <a asp-controller="CarModel" asp-action="CarModelList" class="btn btn-success btn-lg mx-2">ایجاد تغییرات در مدل های خودرو</a>
    </div>
</div>