<div class="container text-center mt-5">
    <h1 class="mb-4">لطفاً نقش خود را انتخاب کنید</h1>
    <div class="d-flex justify-content-center">
        <a asp-controller="Admin" asp-action="Login" class="btn btn-primary btn-lg mx-2">ادمین</a>
        <a asp-controller="CarInspect" asp-action="Form" class="btn btn-success btn-lg mx-2">کاربر</a>
    </div>
</div>