<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-warning text-center">
                <h4 class="alert-heading">متاسفیم!</h4>
                <p>عمر خودروی شما بیش از ۵ سال است و امکان رزرو وقت وجود ندارد.</p>
            </div>
            <div class="text-center mt-3">
                <a asp-controller="CarInspect" asp-action= "Form" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            </div>
        </div>
    </div>
</div>
